* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #cdddf5;
    --txt-color: #000;
    --main-color: #296cca;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 5%;
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
    animation: fadeInAnimation ease 2.5s;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

nav a{
    font-size: 1.9rem;
    position: relative;
    color: var(--main-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    animation: fadeInAnimation ease 2.5s;
}
nav a:hover,
nav a.active{
    color: #1b437c;
    border-bottom: 3px solid var(--main-color);
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #1b437c;
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(to bottom, rgba(248, 12, 12, 0), rgb(202, 226, 255));
}

.home-img img{
    width: 350px;
    height: 350px;
    margin-left: 10rem;
    border-radius: 100%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: float 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color),
                0 0 25px var(--main-color);
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.typing-word{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-word span{
    position: relative;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.typing-word span::before{
    content: "software Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-word span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8;
    animation: cursor 1s infinite;
    margin-left: 10px;

}

/*Section About*/

.typing-about{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-about span{
    position: relative;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.typing-about span::before{
    content: "software Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.typing-about span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(202, 226, 255);
    right: -8;
    animation: cursor 1s infinite;
    margin-left: 10px;

}

@keyframes fadeInAnimation
{
   0%
   { 
   opacity: 0;
   }

   100% 
   {
   opacity: 1;
   }
}


@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }
}
@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Web Designer";
    }
    41%, 60%{
        content: "Graphic Designer";
    }
}

.home-content {
    margin-left: 10rem;
    animation: float 1.5s ease;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth :nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.8rem;
    margin: 10px 0;
    margin-right: 50px;
    text-align: justify;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 0.3rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 15px;
    margin-top: 25px;
    font-size: 2.3rem;
    transition: 0.2s linear;
}
.social-icons a:hover{
    scale: 1.3;
    color: white;
    background-color: var(--main-color);
    filter: drop-shadow(0 0 10px --main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 20px;
    background-color: var(--main-color);
    box-shadow: none;
    color: white;
    letter-spacing: 0.1rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem;
    transition: 0.3s ease;
}
.btn:hover {
    scale: 1.1;
    font-weight: 600;
    box-shadow: 0 0 20px var(--main-color);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: rgb(202, 226, 255);
}

.about-img img {
    width: 350px;
    height: 350px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    background-color: var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color),
                0 0 25px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: center;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
    margin-top: 8px;
}

.about-content p{
    font-size: 1.8rem;
    margin: 10px;
    margin-right: 20px;
    text-align: justify;
}

/*services section*/

.services h2 {
    margin-bottom: 5rem;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 5rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: white;
    margin: 2rem 2rem;
    box-shadow: 0 0 25px #b8b8b9;
    padding: 6rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s ease;
}

.services-container .services-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px #999a9d;
}

.services-box {
    font-size: 7rem;
    color: var(--main-color);
    backdrop-filter: blur(20px);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Section Skills */

.skill{
    background-image: linear-gradient(to bottom, rgba(248, 12, 12, 0), rgb(202, 226, 255))
}

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 5rem 5rem;
}

.skill-bars{
    padding: 25px 30px;
    width: 800px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
        
        
  @media screen and (max-width: 768px) {
    .skill-bars {
      width: 300px;
    }
  }  
  @media screen and (max-width: 480px) {
    .skill-bars {
      
    }
  }
        
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 15px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--main-color);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 80%;
  }
  .bar .progress-line.javascript span{
    width: 65%;
  }
  .bar .progress-line.php span{
    width: 70%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .bar .progress-line.microsoft span{
    width: 85%;
  }
  .bar .progress-line.adobe span{
    width: 80%;
  }
  .bar .progress-line.coreldraw span{
    width: 90%;
  }
  .bar .progress-line.figma span{
    width: 80%;
  }
  .bar .progress-line.canva span{
    width: 85%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #37507e;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #37507e;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "80%";
  }
  .progress-line.javascript span::after{
    content: "65%";
  }
  .progress-line.php span::after{
    content: "70%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }
  .progress-line.microsoft span::after{
    content: "85%";
  }
  .progress-line.adobe span::after{
    content: "80%";
  }
  .progress-line.coreldraw span::after{
    content: "90%";
  }
  .progress-line.figma span::after{
    content: "80%";
  }
  .progress-line.canva span::after{
    content: "85%";
  }

  /*section project*/

  .project{
    background-image: linear-gradient(to top, rgba(248, 12, 12, 0), rgb(202, 226, 255));
  }

  .projcard-container {
    margin: 50px 0;
  }
  
  /* Actual Code: */
  .projcard-container,
  .projcard-container * {
    box-sizing: border-box;
  }
  .projcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .projcard {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  .projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
  }
  .projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
  }
  .projcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
  }
  .projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .projcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
  }
  .projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
  }
  .projcard:hover .projcard-img {
    transform: scale(1.05);
  }
  .projcard:hover .projcard-bar {
    width: 70px;
  }
  .projcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
  }
  .projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 430px;
  }
  .projcard-textbox::before,
  .projcard-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg);
  }
  .projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
  }
  .projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
  }
  .projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
  }
  .projcard-textbox * {
    position: relative;
  }
  .projcard-title {
    font-family: Poppins, sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
  }
  .projcard-subtitle {
    font-family: Poppins, sans-serif;
    color: #888;
  }
  .projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }
  .projcard-blue .projcard-bar { background-color: #0088FF; }
  .projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
  .projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
  .projcard-red .projcard-bar { background-color: #D62F1F; }
  .projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
  .projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
  .projcard-green .projcard-bar { background-color: #40BD00; }
  .projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
  .projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
  .projcard-yellow .projcard-bar { background-color: #F5AF41; }
  .projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
  .projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
  .projcard-orange .projcard-bar { background-color: #FF5722; }
  .projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
  .projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
  .projcard-brown .projcard-bar { background-color: #C49863; }
  .projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
  .projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
  .projcard-grey .projcard-bar { background-color: #424242; }
  .projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
  .projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
  .projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
  .projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
  .projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
  .projcard-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .projcard-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
  .projcard-tag {
    display: inline-block;
    background: #E0E0E0;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;
  }
  .projcard-tag::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px;
  }
  .projcard-tag::after {
    content: '';
    position: absolute;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
  }
  
  /*section contact*/
  
  .contact{
    background-image: linear-gradient(to bottom, rgba(248, 12, 12, 0), rgb(202, 226, 255));
  }

  .images{
    width: 350px;
    height: 350px;
    margin: 2rem 2rem 2rem 10rem;
  }

  .container-contact {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: var(--main-color);
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #174586);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    margin-right: 70px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--main-color);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 20px;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    margin-left: 20px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    margin-left: 2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: var(--main-color);
  }
  
  .text {
    color: #333;
    font-size: 1.6rem;
    margin: 2.5rem 0 2rem 2rem;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 1rem;
  }

  .info-icon{
    font-size: 2rem;
    padding-right: 1rem;
    margin-left: 2rem;
    color: #555;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
    margin-left: 2rem;
    margin-bottom: 5rem;
    font-size: 1.6rem;
  }
  
  .social-media p {
    color: #333;
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }

  footer{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
    color: #333;
  }